<div class="login-wrapper">
  <div class="container">
    <div class="photo-wrapper">
      <img
        class="photo"
        ngSrc="../../../../assets/images/login-logo.jpg"
        height="300"
        width="400"
        alt="logo"
        priority
      />
    </div>
    <div class="content">
      <div>
        <img
          class="photo"
          ngSrc="../../../../assets/images/law64.png"
          height="64"
          width="64"
          alt="logo"
          priority
        />
      </div>
      <h2 class="headline">Registration</h2>
      <div class="input-fields">
        <app-input-field
          class="field"
          [control]="registrationForm.controls.name"
          [placeholder]="'First Name'"
          [errors]="{required: 'This field is required'}"
        />
        <app-input-field
          class="field"
          [control]="registrationForm.controls.surname"
          [placeholder]="'Last Name'"
          [errors]="{required: 'This field is required'}"
        />
        <app-input-field
          class="field"
          [control]="registrationForm.controls.username"
          [placeholder]="'Username'"
          [errors]="{required: 'This field is required'}"
        />
        <app-input-field
          class="field"
          [control]="registrationForm.controls.email"
          [placeholder]="'Email'"
          [errors]="{required: 'This field is required', email: 'Not a valid email address'}"
        />
        <app-input-field
          class="field"
          [type]="'password'"
          [control]="registrationForm.controls.password"
          [placeholder]="'Password'"
          [errors]="{required: 'This field is required'}"
        />
      </div>
      <div class="login-button">
        <app-button
          class="field"
          [info]="'Register'"
          (click)="register()"
        />
      </div>
    </div>
  </div>
</div>
