.container-nav {
  display: flex;
  justify-content: flex-start;
  height: 115px !important;
  border: none;
}

.logo {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.logo:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
  opacity: 0.75;
}

.logo-label:hover {
  cursor: pointer;
}

.navbar-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  margin-left: auto;
  margin-right: auto;
}

.navbar-elements:hover {
  cursor: pointer;
}
