@use '@angular/material' as mat;
@import "./mat-themes";
@import "./app/sass/variables";
/*// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$law-pay-pro-fe-primary: mat.define-palette(mat.$indigo-palette);
$law-pay-pro-fe-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$law-pay-pro-fe-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$law-pay-pro-fe-theme: mat.define-light-theme((
  color: (
    primary: $law-pay-pro-fe-primary,
    accent: $law-pay-pro-fe-accent,
    warn: $law-pay-pro-fe-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($law-pay-pro-fe-theme);

!* You can add global styles to this file, and also import other style files *!*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #373d4b;
  --secondary: #252a33;
  --selection-color: #2986ff;
  --border-color: #252a33;
  --tercial: #2b343f;
  --text-color: #ffffff;
  --grey-text-color: #646464;
  --timesheet-height: 58dvh;
}

@include mat.all-component-themes($dark-blue-theme);

body, html {
  height: 100%;
  margin: 0;
  background-color: var(--secondary);
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif !important;
}

::selection {
  background: var(--primary-color);
  color: var(--text-color);
}

::-webkit-scrollbar {
  padding: 8rem 0 8rem 0;
  width: 0.2rem;
  background: var(--secondary);
}
