<div class="wrapper">
  <div class="container">
    <div class="payment-method">
      <div class="header">
        <h2>Choose payment method</h2>
      </div>
      <div>
        <mat-radio-group
          (change)="onRadioButtonChange($event)"
          [(ngModel)]="selectedValue"
        >
          <div class="radio-button-wrapper">
            <div class="item" *ngIf="subscriptions.includes(paymentType.CREDIT_CARD)">
              <mat-radio-button [value]="paymentType.CREDIT_CARD">Pay with credit card</mat-radio-button>
              <img
                [ngSrc]="'../../../../assets/images/atm-card64.png'"
                height="64"
                width="64"
                alt="logo"
                priority
              />
            </div>
            <div class="item" *ngIf="subscriptions.includes(paymentType.PAY_PAL)">
              <mat-radio-button [value]="paymentType.PAY_PAL">Pay with PayPal</mat-radio-button>
              <img
                [ngSrc]="'../../../../assets/images/paypal64.png'"
                height="64"
                width="64"
                alt="logo"
                priority
              />
            </div>
            <div class="item" *ngIf="subscriptions.includes(paymentType.QR_CODE)">
              <mat-radio-button [value]="paymentType.QR_CODE">Pay with qr code</mat-radio-button>
              <img
                [ngSrc]="'../../../../assets/images/qr-code64.png'"
                height="64"
                width="64"
                alt="logo"
                priority
              />
            </div>
            <div class="item" *ngIf="subscriptions.includes(paymentType.CRYPTO_CURRENCY)">
              <mat-radio-button [value]="paymentType.CRYPTO_CURRENCY">Pay in crypto</mat-radio-button>
              <img
                [ngSrc]="'../../../../assets/images/bitcoin64.png'"
                height="64"
                width="64"
                alt="logo"
                priority
              />
            </div>
          </div>
        </mat-radio-group>
        <div class="buttons">
          <div class="button">
            <app-button
              [info]="'< Back'"
              (click)="goBackToOffers()"
            />
          </div>
          <div class="button">
            <app-button
              [info]="'Confirm payment'"
              [disabled]="disabled"
              (click)="makePaymentRequest()"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
