<div class="wrapper">
  <div class="container">
    <div class="header">
      <h2>Choose payment method</h2>
    </div>
    <div>
      <mat-radio-group
        (change)="onRadioButtonChange($event)"
        [(ngModel)]="selectedValue"
      >
        <app-payment-method-card
          [label]="'Pay with credit card'"
          [imgPath]=""
        />
        <app-payment-method-card
          [label]="'Pay with PayPal'"
          [imgPath]=""
        />
        <app-payment-method-card
          [label]="'Pay with qr code'"
          [imgPath]=""
        />
        <app-payment-method-card
          [label]="'Pay with crypto'"
          [imgPath]=""
        />

      </mat-radio-group>
    </div>
  </div>
</div>
