@import "./app/sass/variables";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #222529;
  --secondary: #161b20;
  --selection-color: #00f07d;
  --border-color: #13161a;
  --tercial: #191f25;
  --text-color: #ffffff;
  --grey-text-color: #646464;
}

body, html {
  height: 100%;
  margin: 0;
  background-color: var(--secondary);
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif !important;
}

::selection {
  background: var(--primary-color);
  color: var(--text-color);
}

::-webkit-scrollbar {
  padding: 8rem 0 8rem 0;
  width: 0.2rem;
  background: var(--secondary);
}

