$primary-color: #1f384c;
$primary-color-hover: #2d4a67;
$secondary-color: #122333;
$selection-color: #00f07d;
$text-color: #ffffff;
$shadow-color-light: #8aa3b7;
$cancel-color: #ff444f;
$disabled-color: #2C3C4C;
$shadow-color-dark: #07131e;
