<div class="wrapper">
  <div class="container">
    <div class="payment-method">
      <div class="header">
        <h2>Payment details</h2>
      </div>
      <div>
        <app-labeled-input
          [value]="paymentAddress"
          [label]="'Copy address'"
        />
        <!-- <div class="qrcode">
          <canvas id="canvas"></canvas>
        </div> -->
        <div *ngIf="qrCode">
          <img [src]="qrCode" alt="QR Code" class="enlarged-image">
        </div>
      </div>
    </div>
  </div>
</div>
